.start{
    margin:0;
    padding: 0;
    border: 0;
}
.box{
    background: white;
}
#header{
    margin:3px 0;
    border-bottom: 1px solid #B2D0EA;
}
#header div{
    height: 24px;
}
#header span{
    padding:0 7px ;
    color:#B2D0EA;
}
#header img{
    margin:0 2px;
}

.header2aright{

    font-size:12px;
    margin-top: 22px;
}
.header2aright a{
    margin-right:10px;
    color:#122b40;
}
.header2aright strong{
    margin-right:10px;
    color:#31b0d5;
}
#nav{
    border-radius: 10px 10px 0 0;

}
#nav1 li{
    padding:0 15px;
}
#nav1 a{
    color: whitesmoke;
}
#nav1 a:hover{
    background:#337ab7;
    border-radius: 10px;
}
#nav2,#nav2 a{
    color: #bce8f1;
    font-size:12px;
}
#nav2 a{
    margin:0 10px;
}
#nav2 a:hover{
    color:snow;
}
#nav2 button{
    font-weight: bold;
    margin-left: 0px;
}

#navsinger,#navsinger a{
    color:#999999;
    height: 40px;
    line-height: 40px;
    border-radius: 0 0 10px 10px;
}
#navsinger span{
    margin:0 10px;
}
#navsinger .navsingerorange a,.navsingerorange a:hover{
    color:#FF6600;
    margin:0 5px;
}
/*ÄÚÈÝ*/
.contentleft{
    /*background: cornsilk;*/
    border-right:1px solid #EFF9FE;
    border-bottom:1px solid #EFF9FE;
}
.contentleft h4{
    font-weight: bold;
}
.contentleft h4 span{
    color:#FF664F;
}
.contentleft p{
    background: #EFF9FE;
    height: 30px;
    line-height: 30px;
}
.contentleft p a{
    color:black;
    font-size: 14px;
    font-weight: bold;
}
.contentleft ul{
    list-style: none;
    margin-left:-20px;
    font-size: 12px;
}
.contentleft ul li{
    height: 25px;
    line-height: 25px;
 }
.check{
    color:#FF664F;
    font-weight: bold;
}
.contentright{
    /*background:palegoldenrod;*/
}
.contentrightnav{
    background:  #EFF9FE;
}
.contentrightnav {
    background:  #EFF9FE;
    border-radius: 10px;
}
.contentrightspecial{
    margin-left: 2%;
}
.contentright2{
    margin-top: 8px;
}
.newspecial{
    margin-top: 2%;
}
.newspecial span{
    color:#999;
    position:relative;
    top:-68px;
}
.newspecial div{
   width:174px;
    transform: scale(1);
    /*background:wheat;*/
}
.newspecial div:hover{
    transform: scale(1.1);
}
.newspecial img{
    width:154px;
    height:154px;
    border: 1px solid #122b40;
}
.newspecial p{
    margin:0;
    padding:0;
}
.newspecial .specialp2 small{
    color:darkolivegreen;
}
.newspecial .specialp1{
    margin-top:4px;
}
.footer{
     margin-top: 10px;
 }
.footer a,.footer small {
    color: #666666;
}
.footer span{
    margin:0 10px;
}
.footer p{
    margin-top: 5px;
}
#company{
    color:#31b0d5;
    font-weight: bold;
}
/*Î²²¿*/
.footer{
    margin-top: 10px;
}
.footer a,.footer small {
    color: #666666;
}
.footer span{
    margin:0 10px;
}
.footer p{
    margin-top: 5px;
}
#company{
    color:#31b0d5;
    font-weight: bold;
}
